@import '../../variables.scss';

// .navbarContainer{
//     display: $displayFlex;
//     flex-direction: $flexDirection;
// }

.navbarContainer{
    display: flex;
    flex-direction: row;
}

.navbarCursor{
    cursor: pointer;
}

